#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Memastikan konten di tengah vertikal */
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh; /* Menjamin #root mengambil seluruh tinggi layar */
}

@media (max-width: 768px) {
  #root {
    padding: 1rem; /* Padding di tablet */
    text-align: center; /* Pastikan teks di tengah */
  }
}


@media (max-width: 768px) {
  #root {
    padding: 1rem; /* Padding di tablet */
    text-align: center; /* Pastikan teks di tengah */
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0.5rem;
  }
}

/* Logo styling */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@media (max-width: 768px) {
  .logo {
    height: 5em;
  }
}


@media (max-width: 480px) {
  .logo {
    height: 4em;
  }
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: reduce) {
  .logo {
    animation: none;
  }
}

/* Heading styling */
h2 {
  font-size: 2rem; /* Default untuk desktop */
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem; /* Ukuran untuk tablet */
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.2rem; /* Ukuran untuk ponsel */
  }
}

/* Card styling */
.card {
  padding: 2em;
}

@media (max-width: 1024px) {
  .card {
    padding: 1.5em;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 1em;
    text-align: left; /* Mungkin lebih baik kalau tidak semuanya di tengah */
  }
}

@media (max-width: 480px) {
  .card {
    padding: 0.5em;
    text-align: left;
  }
}

/* Additional styling */
.read-the-docs {
  color: #888;
}
