@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
  background-color: #190b1f; /* Latar belakang utama */
  padding: 0;

  /* Pola kotak-kotak dengan kontras lebih tinggi */
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.15) 1px, transparent 1px), /* Garis horizontal dengan kontras lebih tinggi */
    linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 1px, transparent 1px); /* Garis vertikal dengan kontras lebih tinggi */
  background-size: 40px 40px; /* Ukuran kotak */
  background-blend-mode: overlay; /* Gabungkan pola dengan latar belakang */
}



/* Responsiveness for padding */
@media (max-width: 768px) {
  body {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0.5rem;
  }
}

/* Heading styling */
h2 {
  @apply text-xl md:text-4xl lg:text-5xl; /* Menambah ukuran lebih besar untuk desktop */
}

/* Paragraph styling */
p {
  @apply text-lg md:text-xl tracking-tight leading-relaxed; /* Mengurangi ukuran teks pada layar kecil */
}

/* Custom span styling for contact/about me */
span {
  @apply text-purple-600;
}

/* Shiny effect styling */
.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(178, 19, 202, 0.2), transparent 70%);
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  .shiny-effect {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .shiny-effect {
    width: 100px;
    height: 100px;
  }
}

/* Primary color button styling */
.bg-primary-color {
  @apply bg-purple-600;
}

@media (max-width: 768px) {
  .bg-primary-color {
    @apply bg-purple-500;
  }
}

@media (max-width: 480px) {
  .bg-primary-color {
    @apply bg-purple-400;
  }
}
